<div class="card">

    
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    
    <div class="card-body">
  
    
      <h4 class="card-title">Card title</h4>
    
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
      <a class="btn btn-primary" [routerLink]="['/bid']" routerLinkActive="router+-link-active">Bid Now</a>
  
    </div>
  
</div>
