<div class="container">
    <div class="card">
        <router-outlet></router-outlet>        
    </div>
</div>
<div class="form mb-4">
        <div class="col ">
<!-- Card -->
<div class="jew">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 ">
      <div>
        <br>
        <h3 class="card-title pt-2"><strong><B>JEWELLERY</B></strong></h3>
        <p>IT'S OK TO BE LITTLE OBSESSED WITH JEWELLERY.IT IS A VERY PERSONAL THINK IT SHOULD TELL A STORY ABOUT THE PERSON WHO IS WEARING IT,BUY NOW OR BUY LATER .</p>
        <a class="btn btn-pink"[routerLink]="['/user/gold']" routerLinkActive="router-link-active"><i class="fas fa-clone left"></i> VIEW JEWELLERY</a>
      </div>
    </div>
</div>
  </div>
  <!-- Card -->

  <div class="col">
  <!-- Card -->
<div class="house">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <br>
        <h3 class="card-title pt-2"><strong><b>LAND</b></strong></h3>
       <p>FIND OUT WHERE THE PEOPLES ARE GOING AND BUYING THE LAND BEFORE THEY GET THERE,INVEST IN REAL ESTATE-A CITY TODAY WAS ONCE A VILLAGE AND A VILLAGE TODAY WILL BECOME A CITY TOMORROW SO BUY THE FEATURE.</p>
        <a class="btn btn-pink"[routerLink]="['/user/house']" routerLinkActive="router-link-active"><i class="fas fa-clone left"></i> VIEW HOUSE</a>
      </div>
    </div>
</div>
  </div>
  <!-- Card -->
  <div class="col">
  <!-- Card -->
<div class="land">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <br>
        <h3 class="card-title pt-2"><strong><b>HOUSE</b></strong></h3>
        <p>THE HOUSE YOU LOOKED AT TODAY AND WANTED TO THINK ABOUT UNTIL TOMORROW MAY BE THE SAME HOUSE SOMEONE LOOKED AT YESTERDAY AND THEY WILL BUY TODAY, THE DROP IN PENDING HOME SALES IS AN AFFIRMATION THAT WE ARE EXPERIENCING A MODEST SLOWLING IN THE HOUSING SECTOR.</p>
        <a class="btn btn-pink"[routerLink]="['/user/land']" routerLinkActive="router-link-active"><i class="fas fa-clone left"></i> VIEW LAND</a>
      </div>
    </div>
  
  </div>
  </div>
  <!-- Card -->
</div>